.termList {
    padding: 5px;
}

.termList-sectionTitle {
    font-size: 1.3em;
}

.termList-term{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    border: 1px black solid;
    border-radius: 10px;
}
.termList-title{
    padding: 3px;
    flex-basis: 25%;
    border-right: 1px black solid;
    margin-right: 40px;
    margin: 8px 40px 8px 5px;
}
.termList-definition{
    /* fill remaining space */
    flex-basis: 0;
    flex-grow: 1;
}

/* Add new term */

#termList-title-input{
    margin-right: 40px;
}

#termList-title-input,
#termList-definition-input{
    
}

#termList-title-input:focus,
#termList-definition-input:focus{
    
}



#termList-title-input{
    
}