#new-term {
    max-width: 600px;
}

#new-term-expand {
    max-width: 600px;
}

#new-term-expand>.termList-sectionTitle {
    padding: 4px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 0;
}

#new-term-expand:hover {
    cursor: pointer;
    background-color: #121212d5;
    color: rgb(206, 206, 206);
}

#new-term-form {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border: 1px black solid;
    border-top: 0px;
}

#new-term-form {
    font-size: 1.3rem;
    font-weight: 500;
}
/* textarea */
.termList-input {
    width: 100%;
    flex-grow: 1;
    border: none;
    /* border-bottom: #393939 5px solid; */
    border-radius: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: inherit;
    box-shadow: 0 0 3px rgb(204, 204, 204);
    resize: none;
}

.termList-definition-input-container {
    width: 100%;
}
.termList-input:focus {
    outline: none;
    border-bottom: #ffcd1f 5px solid;
    margin-bottom: 5px;
}

.termList-input::placeholder{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.418);
}

/* VALIDITY CHECKER */
.empty-input {
    background-color: #FFCCCC;
    color: rgb(112, 0, 0);
}

.empty-input:focus {
    border-bottom-color: rgb(112, 0, 0);
}