:root {
    /* --dark-background: #121212; */
}

html {
    /* background: var(--dark-background); */
    /* color: white; */
}

#flashcard{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px;
    border: 1px black solid;
}

#flashcard > i{
    justify-self: flex-end !important;
    width: 5px;
}

#flashcard-inner {
    padding: 50px 0px;
    border-radius: 2px;
    text-align: center;
    user-select: none;
}

#flashcard-controls{
    margin : 2px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;

}

#flashcard-controls > button{
    flex-grow: 1;
    border: none;
    border-radius: 0px;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
}

button:nth-child(2) {
    border-right: 2px white solid !important;
    border-left: 2px white solid !important;
}

button:active{
    transform: scale(0.95);
}


#flashcard-title, #flashcard-definition {
    display: none;
}

.active {
    display: block !important;
}