#create-class {
  margin: 0 10px;
}

@media screen and (min-width: 430px) and (max-width: 599px) {
  .classes {
    width: 400px;
  }
}

.classes {
  height: 200px;
  padding: 2px;
}

.classes:hover {
  opacity: 0.9;
  border: var(--accent-color) 2px solid;
  /* box-shadow: 0px 1px rgba(255, 255, 255, 0.685); */
  cursor: pointer;
  padding: 0;
}

.appbar-navigation {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.appbar-control-group {
  display: flex;
  flex-direction: row;
}

.appbar-control-group > * {
  margin: 0 10px;
}

.appbar-control-button {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.appbar-control-button > * {
  margin: 0 5px;
}

.appbar-link {
  border: 2px rgba(0, 0, 0, 0) solid;
}

.appbar-link:hover {
  border: 2px solid;
}

a {
  text-decoration: none;
}

/* a:hover > *, a:hover {
  opacity: 0.8;
  text-decoration: underline;
} */

a:visited {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--primary-color) !important;
  border-radius: 15px !important;
}

@media screen and (min-width: 500px) {
  #appbar-navigation-large {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 499px) {
  #appbar-navigation-small {
    display: flex;
  }
}

/* .appbar-navigation {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */
/* 


#appbar-navigation > * {
  color: black;
  text-decoration: "none";
} */
