#create-class {
  margin: 0 10px;
}

@media screen and (min-width: 430px) and (max-width: 599px) {
  .classes {
    width: 400px;
  }
}

.classes {
  height: 200px;
}

.classes:hover {
  background-color: #393939b2;
  cursor: pointer;
}

.appbar-navigation {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 500px) {
  #appbar-navigation-large {
    display: flex;
  }
}

@media screen and (max-width: 499px) {
  #appbar-navigation-small {
    display: flex;
  }
}

/* .appbar-navigation {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */
/* 


#appbar-navigation > * {
  color: black;
  text-decoration: "none";
} */
