.termList {
    padding: 5px;
}

.term {
    margin: 10px 0px;
    width: 600px;
}

.term:hover {
    cursor: pointer;
}

/* style child when parent div is hovered */
.term:hover > .termList-term {
    cursor: pointer;
    background-color: #121212d5;
    color: rgb(206, 206, 206);
    transition: background-color 0.2s;
}

.term:hover > .termList-term > .termList-title {
    border-right: 1px solid rgba(206, 206, 206, 0.562);
}

.termList {
    /* white-space:pre; */
    overflow: hidden;
    overflow-wrap: break-word !important;
}

.termList-sectionTitle {
    font-size: 1.3em;
}

.termList-term{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px black solid;
    border-radius: 3px;
    padding: 5px;
    /* move inner div behind so click event always targets the parent div */
    position: relative;
    z-index: -1;
}
.termList-title{
    /* padding: 3px; */
    flex-basis: 25%;
    border-right: 1px rgba(0, 0, 0, 0.26) solid;
    /* margin: 8px 0px 8px 5px; */
}
.termList-definition{
    /* fill remaining space */
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 40px;
}

/* expand term list */
/* TODO */
#active-term{
    margin-bottom: 0;
    background-color: #121212d5;
    color:rgb(206, 206, 206);
}

.termList-expanded{
    display: none;
    border: 1px black solid;
    border-top: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}