:root {
    /* --dark-background: #121212; */
}

body {
    /* background: var(--dark-background); */
    /* color: white; */
}

#studyHelper {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#flashcard{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 337px;
    border: 1px black solid;
    border-radius: 15px;
    margin-bottom: 40px;
}

/* settings icon in flashcard */

#flashcard > i{
    margin: 3px 3px 3px auto;
    padding: 8px;
}

#flashcard > i:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 25px;
}

#flashcard-inner {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 0px;
    margin: 5px 0px;
    text-align: center;
    user-select: none;
    text-align: center;

    /* for centering text */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

#flashcard-inner > p{
    padding: 0 11px;
    flex-shrink: 1;
}

#flashcard-controls{
    margin : 2px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}

/* button design */

.flashcard-controls-button{
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    border-radius: 0px;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
}

/* round buttons lower corners of flashcard buttons*/
.flashcard-controls-button:nth-child(2) {
    /* border-right: 2px white solid !important; */
    border-left: 2px white solid !important;
}
.flashcard-controls-button:nth-child(1) {
    border-bottom-left-radius: 15px !important;
}
.flashcard-controls-button:nth-child(2) {
    border-bottom-right-radius: 15px !important;
}

.flashcard-controls-button:hover{
    opacity: 0.8;
    cursor: pointer;
}

#flashcard-title, #flashcard-definition {
    display: none;
}

.active {
    display: block !important;
}

