.plain-link {
  color: var(--text-color);
  text-decoration: none;
}

.Mui-disabled {
  background-color: #363636;
}

@media screen and (min-width: 600px) {
  #create-class-form {
    width: 400px;
  }
}

@media screen and (min-width: 900px) {
  #create-class-form {
    width: 700px;
  }
}


@media screen and (max-width: 350px) {
  .create-class-class-info {
    width: 300px !important;
  }
  .create-class-accordion {
    width:310px !important;
  }
}

/* general */
@media screen and (max-width: 400px) {
  .responsive-cardHeader > .MuiCardHeader-content > .MuiCardHeader-title{
    font-size: 1.3rem !important;
  }
}