/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation */
#navbar {
  height: 100px;
  padding: 5px 40px;
  display: flex;
  font-size: 1.6rem;
  margin: 0;
  justify-content: space-between;
  align-items: center;
};

#logo{
  font-family: 'Chango', cursive;
}
#navbar-controls{
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  align-items: center;
}

#navbar-controls > button{
  padding: 6px;
  font-size: 1.3rem;
  
}

#brand{
  flex-shrink: 1;
}
#navbar > p {
  margin: 0;
}